<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="{% static '/assest/css/styles.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'assest/images/favicon.png' %}">

</head>

<body>

    <div class="top-bar bg-primary text-white text-center py-2">
        <small>Expert lending solutions tailored to your financial goals.</small>
    </div>

    <!-- Navigation -->
    {% include './navbar.html' %}
    {% block extra_css %}{% endblock %}


    <!-- Main content -->
    {% block main_content %}

    {% endblock main_content %}





    <!--Footer-->
    {% include "./footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static '/assest/js/script.js' %}"></script>
</body>

</html>