{% load static %} 

 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="../Pages/Index.html">

                <div>
                    <img src="{% static '/assest/images/image_2.png' %}" alt="">
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item dropdown mega-menu">
                        <a class="nav-link dropdown-toggle" href="#" role="button">
                            Loans
                        </a>

                        <div class="dropdown-menu">
                            <div class="mega-menu-content">
                                <div class="mega-menu-categories">
                                    <!-- Category 1 -->
                                    <div class="mega-category">
                                        <h6>Loan category 1</h6>
                                        <ul>
                                            <li><a href="#"><span class="loan-icon icon-blue"></span>Loan Type 1</a>
                                            </li>
                                            <li><a href="#"><span class="loan-icon icon-navy"></span>Loan Type 2</a>
                                            </li>
                                            <li><a href="#"><span class="loan-icon icon-teal"></span>Loan Type 3</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- Category 2 -->
                                    <div class="mega-category">
                                        <h6>Loan category 2</h6>
                                        <ul>
                                            <li><a href="#"><span class="loan-icon icon-green"></span>Loan Type 4</a>
                                            </li>
                                            <li><a href="#"><span class="loan-icon icon-lime"></span>Loan Type 5</a>
                                            </li>
                                            <li><a href="#"><span class="loan-icon icon-yellow"></span>Loan Type 6</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- Category 3 -->
                                    <div class="mega-category">
                                        <h6>Loan category 3</h6>
                                        <ul>
                                            <li><a href="#"><span class="loan-icon icon-orange"></span>Loan Type 7</a>
                                            </li>
                                            <li><a href="#"><span class="loan-icon icon-red"></span>Loan Type 8</a></li>
                                            <li><a href="#"><span class="loan-icon icon-purple"></span>Loan Type 9</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- Category 4 -->
                                    <div class="mega-category">
                                        <h6>Loan category 4</h6>
                                        <ul>
                                            <li><a href="#"><span class="loan-icon icon-pink"></span>Loan Type 10</a>
                                            </li>
                                            <li><a href="#"><span class="loan-icon icon-cyan"></span>Loan Type 11</a>
                                            </li>
                                            <li><a href="#"><span class="loan-icon icon-indigo"></span>Loan Type 12</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Right Side CTA -->
                                <div class="mega-menu-cta">
                                    <h3 class="position-absolute get-started-text" style="left: 30px;">Get started with
                                        HSG <br> Today</h3>
                                    <!-- You can use an image here or the CSS arrow -->
                                    <img class="arrow-3d-css position-absolute"
                                        src="{% static '/assest/images/3d_dispersion_glass_shape_arrow_cursor_ Premium_PSD.png' %}"
                                        alt="">
                                    <!-- OR use an image: <img src="path-to-3d-arrow.png" alt="Get Started" class="arrow-image"> -->
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Pages/aboutus.html">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown">Calculators</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Loan Calculator</a></li>
                            <li><a class="dropdown-item" href="#">Borrowing Power</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Insights &
                            Resources</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="../Pages/blog.html   ">Blog</a></li>
                            <li><a class="dropdown-item" href="#">Guides</a></li>
                        </ul>
                    </li>
                    <li class="nav-item ms-lg-3">
                        <a class="btn btn-primary rounded-pill px-4" href="../Pages/contactus.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
